extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          li.side-nav--active
            a(href='#') Settings
          li
            a(href='#') Watch Later
          li
            a(href='#') My reviews
          li
            a(href='#') Account Status
        .admin-nav
          h5.admin-nav__heading Admin
          ul.side-nav
            li
              a(href='#') Manage movies
            li
              a(href='#') Manage users
            li
              a(href='#') Manage reviews
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name-inp.form__input(type='text' value=user.name required='' name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email-inp.form__input(type='email' value=user.email required='' name='email')
            .form__group.form__photo-upload
              if user.photo
                img.form__user-photo(src=`/img/users/${user.photo}` alt='User photo')
              else
                img.form__user-photo(src=`/img/${user.gender}.jpeg` alt='User photo')
              input#photo.form__upload(type='file' accept='image/*' name='photo')
              label(for='photo') Choose new photo
            .form__group.right
              button.my-btn.my-btn--small.my-btn--red#save-btn(type="button") Save settings
        .line  
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input.form__input#curr-password(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group
              label.form__label(for='password') New password
              input.form__input#new-password(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input.form__input#conf-password(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group.right
              button.my-btn.my-btn--small.my-btn--red.my-btn--save-password#save-pass-btn(type='button') Save password
  script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
  script(src="/js/account.js")