extends base

block headExt
  link(rel="stylesheet" href="/css/style.css")

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          li.side-nav--active
            a(href='#') Settings
          li
            a(href='#') Watch Later
          li
            a(href='#') My reviews
          li
            a(href='#') Account Status
        .admin-nav
          h5.admin-nav__heading Admin
          ul.side-nav
            li
              a(href='#') Manage movies
            li
              a(href='#') Manage users
            li
              a(href='#') Manage reviews
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text' value=user.name required='' name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email' value=user.email required='' name='email')
            .form__group.form__photo-upload
              if user.photo
                img.form__user-photo(src=`/img/users/${user.photo}` alt='User photo')
              else
                img.form__user-photo(src=`/img/${user.gender}.jpeg` alt='User photo')
              input#photo.form__upload(type='file' accept='image/*' name='photo')
              label(for='photo') Choose new photo
            .form__group.right
              button.my-btn.my-btn--small.my-btn--red Save settings
        .line  
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm')
                | Confirm
                | password
              input#password-confirm.form__input(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group.right
              button.my-btn.my-btn--small.my-btn--red.my-btn--save-password
                | Save
                | password
