doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css")
    title= title
    block headExt

  body
    // HEADER
    include _header

    // CONTENT
    block content
      div.d-flex.justify-content-center.align-items-center(style="height: 100vh") 
        h1.w-25.text-center Welcome 

    // FOOTER
    // include _footer

      script(src='js/main.js')