extends base

block headtitle
  title login
  link(rel="stylesheet" href="/style/login.css")
block content
  div.container
    div.row
      div.col-md-6
        div.card
          form.box
            h1 Login
            p.text-muted Please enter your login and password
            input(type="text" placeholder="Username" id="username")
            input(input type="password" placeholder="Password" id="password")
            a.forgot.text-muted(href='#') Forgot password
            input(type="submit" value="Login" href="#" id="login-btn")
            div.col-md-12
              ul.social-networl.social-circle.d-flex.justify-content-around
                li
                  a(href="#" class="icoFacebook" title="Facebook")
                    i.fab.fa-facebook-f
                li 
                  a(href="#" class="icoTwitter" title="Twitter")
                    i.fab.fa-twitter
                li
                  a(a href="#" class="icoGoogle" title="Google +")
                    i.fab.fa-google-plus
  script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
  script(src="js/login.js")
