@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #333;
  color: rgba(255, 255, 255, 0.7);
}
.card {
  height: 600px;
  position: relative;
  border-radius: 5%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
.card:hover {
  transition: 0.5s;
}
.card:hover .title {
  padding-bottom: 50px;
  opacity: 1;
  transition: 0.5s;
}
.card .title {
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 30px;
  font-weight: 300;
  padding: 30px 0;
  background: linear-gradient(to top, #000, transparent);
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.title:hover {
  cursor: pointer;
}
